@import "Sidepanel.scss";

.sidepanel-section-header {
  position: sticky;
  height: min-content;
  top: -16px;
  width: 110%;
  background-color: $sidePanelColor;
  padding-bottom: 16px;
  z-index: 1;
  border-bottom: solid 1px #b6ffba;
  // color: #b6ffba;
  color: white;
}