@import "Sidepanel.scss";

.sidepanel-section-header {
  position: sticky;
  height: min-content;
  top: 0px;
  transform: translate(-16px, -16px);
  width: calc(100% + 32px);
  background-color: $sidePanelColor;
  padding: 16px;
  z-index: 1;
  border-bottom: solid 1px #b6ffba;
  // color: #b6ffba;
  color: white;
  overflow: hidden;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
}

@if ToxenIsWeb() {
  @media screen and ((max-width: 768px)) { // Mobile view
    .sidepanel-section-header {
      padding: 8px 16px;
      h1 {
        font-size: 24px;
      }
    }
  }
}