.song-element {
  width: 90%;
  border: solid 1px;
  box-sizing: border-box;
  height: min-content;
  transition: all 0.1s ease-in-out;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  .song-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.playing {
    width: 95%;
    z-index: 10;
    box-shadow: 30px 0px 5px white;
  }
  
  &:hover {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    // Animation
    & + * {
      width: 98%;
      border-bottom-right-radius: 10px;
      & + * {
        width: 94%;
        border-bottom-right-radius: 10px;
      }
    }

    .song-title {
      // word-break: keep-all;
      white-space: initial;
    }
  }
}