.song-element-container {
  .song-element-context-menu-button {
    display: none;
  }
  
  &:hover {
    .song-element-context-menu-button {
      display: initial;
    }

    .song-element {
      .song-title {
        padding-left: 32px;
      }
    }
  }

  // Fade in on start
  .song-element {
    opacity: 0;
    animation: fadeIn 0.05s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.song-element {
  width: 90%;
  border: solid 1px;
  box-sizing: border-box;
  height: min-content;
  transition: all 0.1s ease-in-out;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  .song-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;

    transition: padding-left 0.1s ease-in-out;
  }

  &:hover {
    .song-title {
      padding-left: 32px;
    }
  }

  &.selected {
    width: 92%;
    z-index: 10;
    border-color: blue;
    border-width: 5px;
    &.playing {
      border-color: #00ffff;
    }
  }

  &.playing {
    width: 95%;
    z-index: 10;
    box-shadow: 30px 0px 5px white;
    border-color: #b6ffba;
    border-width: 10px;
    border-radius: 5px;
  }

  &:hover {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    // Animation
    // & + * {
    //   width: 98%;
    //   border-bottom-right-radius: 10px;
    //   & + * {
    //     width: 94%;
    //     border-bottom-right-radius: 10px;
    //   }
    // }

    .song-title {
      // word-break: keep-all;
      white-space: initial;
    }
  }
}
