.appBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: calc(100vh - var(--bodyHeight));
  background-color: var(--primary-bg);
  // border-bottom: var(--border-primary) solid 2px;
  border-bottom: var(--accent-color) solid 2px;
  box-sizing: border-box;
  color: var(--text-primary);

  // Add electron titlebar functions
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;

  // Buttons
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .appBarTitle {
    display: flex;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-primary);
    
    * {
      font-size: 1.1em !important;
      vertical-align: top;
      line-height: 110%;
      color: inherit;
      // Remove extra space from le text
      margin: 0;
      padding: 0;
    }
  }

  .appBarButton {
    -webkit-app-region: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    font-weight: bold;
    height: calc(100vh - var(--bodyHeight));
    transition: all 0.1s ease-in-out;
    color: var(--text-primary);
    border: none;
    background: transparent;

    &:hover {
      background-color: var(--surface-bg-hover);
    }

    &.appBar__closeButton:hover {
      background-color: var(--error-color);
      color: white;
    }
  }
}

body[fullscreen] .appBar, body[miniplayer] .appBar {
  display: none;
}

.window-draggable {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}