@import "../../../../root.scss";
.toxen-storyboard {
  width: 100vw;
  height: var(--bodyHeight);
  position: fixed;
  bottom: 0;
  left: 0;
  // background-color: #ffffff;
}

@if ToxenIsWeb() {
  @media screen and ((max-width: 768px)) { // Mobile view
    .toxen-storyboard {
      height: calc(50% - var(--appbar-height));
      bottom: initial;
      top: var(--appbar-height);
    }
  }
}