/*
<div className="modal">
  <div className="modal_content">
    <div className="modal_header">
      <h2>Modal Header</h2>
      <span className="close" onClick={this.closeModal}>&times;</span>
    </div>
    <div className="modal_body">
      {this.props.children}
    </div>
    <div className="modal_footer">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>
*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    .modal_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0;
      }

      span {
        cursor: pointer;
      }
    }

    .modal_body {
      padding: 20px;
    }

    .modal_footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      h3 {
        margin: 0;
      }
    }
  }
}