.playlist-list {
  .playlist-item {
    display: inline-block;
    padding: 4px 0;
    overflow: hidden;
    border: solid 2px #fff;
    border-radius: 20px;
    margin: 1px;
    width: 100%;
    user-select: none;
    cursor: pointer;
    .playlist-item-title {
      display: inline-block;
      transition: margin-left 0.2s ease-in-out;
      margin-left: 0.25em;

      h3 {
        margin: 0.2em 0;
      }
    }

    &:hover {
      .playlist-item-title {
        margin-left: 0.40em;
      }
    }
    
    .playlist-select {
      transform: translateY(0.25em);
    }

    span {
      margin: 0 0.25em;
      transition: filter 0.1s ease-in-out;
      &:hover {
        filter:drop-shadow(0 0 0.5em #fff);
      }
    }

    span.disabled-item {
      pointer-events: none;
      filter: brightness(0.5);
    }

    &.playlist-item-current {
      border-color: #fff;
      background-color: #fff;
      color: #000;
      .playlist-item-title {
        margin-left: 0.40em;
      }
    }
  }
}