@use "../../../root.scss" as *;
.toxen-background {
  width: 100%;
  height: calc(100% - var(--appbar-height));
  z-index: -1;
  position: fixed;
  left: 0;
  bottom: 0;

  & img.toxen-background-image {
    width: 100%;
    height: 100%;
    // filter: brightness(0.4);
    object-fit: cover;
  }

  & video {
    position: fixed;
    left: 0;
    // bottom: 0;
    width: 100%;
    height: 100%;
    // filter: brightness(0.4);
    background-color: black;
  }
}

@if ToxenIsWeb() {
  @media screen and ((max-width: 768px)) { // Mobile view
    .toxen-background {
      height: calc(50% - var(--appbar-height));
      bottom: initial;
      top: var(--appbar-height);

      & video {
        top: var(--appbar-height);
        height: calc(50% - var(--appbar-height));
      }
    }
  }
}