@use "../../../root.scss" as *;
.audio-visualizer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: var(--bodyHeight);
}

@if ToxenIsWeb() {
  @media screen and ((max-width: 768px)) { // Mobile view
    .audio-visualizer {
      height: calc(100vh - var(--appbar-height) - var(--mobile-tab-bar-height));
      bottom: initial;
      top: var(--appbar-height);
    }
  }
}