@import "../../../root.scss";
.audio-visualizer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: var(--bodyHeight);
}

@media screen and ((max-width: 768px) and (min-height: 768px)) { // Mobile view
  .audio-visualizer {
    height: calc(50% - var(--appbar-height));
    bottom: initial;
    top: var(--appbar-height);
  }
}