.toxen-loading-screen {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.50);
  opacity: 0;
  
  &.toxen-loading-screen-show {
    opacity: 1;
    pointer-events: all;
  }

  .toxen-loading-screen-content {
    max-width: 50vw;
    max-height: 50vw;
    margin: auto;

    .center {
      text-align: center;
    }
  }
}