.toxen-music-controls {
  display: block;
  width: calc(95% - 128px);
  // border: solid 2px;
  box-sizing: border-box;
  padding: 8px;
  position: fixed;
  bottom: 3vh;
  left: 50vw;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;

  & > * {
    filter: drop-shadow(1px 1px 1px black);
  }

  .toxen-music-controls-time {
    display: flex;
    justify-content: space-between;
    user-select: none;

    .toxen-music-controls-time-start {
      margin-left: 5%;
    }
    
    .toxen-music-controls-time-end {
      margin-right: 5%;
    }

    .toxen-music-controls-volume {
      width: 20%;
      text-align: center;
    }
  }

  .toxen-music-controls-progress-bar > * {
    filter: drop-shadow(1px 1px 1px black);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }

  .toxen-music-controls-buttons {
    display: flex;
    justify-content: center;
    .ctrl-btn * {
      margin: 8px;
      font-size: 32px;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: translateY(-0.1em);
        cursor: pointer;
      }
    }
  }
}

body.inactive {
  .toxen-music-controls {
    .toxen-music-controls-progress-bar > * {
      transform: translateY(5vh);
    }
  }
}

body[miniplayer] .toxen-music-controls {
  width: 100%;
  bottom: -32px;
  left: 0;
  transform: translateX(0);
  .toxen-music-controls-progress-bar > * {
    transform: translateY(0);
  }
}

@if ToxenIsWeb() {
  @media screen and ((max-width: 768px)) { // Mobile view
    .toxen-music-controls {
      width: 95%;
      bottom: calc(50% + 2.5vh) !important;

      .toxen-music-controls-time {
        .toxen-music-controls-volume {
          width: 95%;
        }
      }
    }
  }
}