.toxen-progress-bar-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  .toxen-progress-bar {
    margin: auto;
    width: 90%;
    height: 1em;
    border: white 2px solid;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
    // overflow: hidden;
    .toxen-progress-bar-fill {
      height: 100%;
      border-radius: 15px;
    }

    &:hover {
      height: 2em;
    }
  }
}