.toxen-progress-bar-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;

  * {
    user-select: none;
  }
  .toxen-progress-bar {
    position: relative;
    margin: auto;
    width: 90%;
    height: 1em;
    transition: all 0.1s ease-in-out;
    
    border: 1px solid;
    border-radius: 5px;
    
    &:hover {
      height: 2em;
      border: 2px solid;
    }
    
    // overflow: hidden;
    .toxen-progress-bar-fill {
      position: absolute;
      overflow: visible;
      height: 100%;
      border-radius: 2px;
    }
  }
}