:root {
  --sidebar-transition: all 0.5s cubic-bezier(.98,-0.03,.67,.77);
}

.sidepanel {
  display: flex;
  position: fixed;
  max-width: 35vw;
  width: 0px;
  transition: var(--sidebar-transition);
  top: 0;
  background-color: #252525;
  overflow-x: hidden;
  overflow-y: auto;
  border: solid white 0px;
  box-sizing: border-box;
}

.sidepanel-left {
  left: 0;
}

.sidepanel-right {
  right: 0;
}

/* .sidepanel:hover, */
.sidepanel.show {
  width: 35vw;
  transition: var(--sidebar-transition);
  border: solid white 1px;
}

:is(
  /* .sidepanel:hover, */
  .sidepanel.show
  ).sidepanel-left {
  border-left: none;
  
}
:is(
  /* .sidepanel:hover, */
  .sidepanel.show
  ).sidepanel-right {
  border-right: none;
}

.sidepanel-icons {
  padding: 16px;
}

.sidepanel-icon {
  font-size: 48px;
  transition: all 0.2s ease-in-out;
}

.sidepanel-icon * {
  display: block;
  margin: auto;
  margin-top: 8px;
}

.sidepanel-icon:hover {
  transform: translateY(-5%);
  filter: drop-shadow(3px 3px 5px white);
  cursor: pointer;
}

.sidepanel-icon-close * {
  transition: all 0.2s ease-in-out;
  color: rgb(255, 150, 150);
}

.sidepanel-icon-close:hover * {
  color: rgb(182, 0, 0);
}

/* .sidepanel:hover, */
.sidepanel.show .sidepanel-icon-close * {
  transition: transform 0s ease-in-out,
              color 0.5s ease-in-out;
  transform: rotate(0);
  transform-origin: center;
}

.sidepanel .sidepanel-icon-close * {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  transform-origin: center;
}