@use "../../root.scss" as *;

.tooltip {
  position: absolute;
  z-index: 1060;
  display: inline-flex;
  flex-direction: column;
  pointer-events: none;
  color: white;
  
  .tooltip-text {
    background-color: $bgColor;
    display: block;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .tooltip-tail {
    margin-top: 0px;
    padding: 5px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid $bgColor;
  }
}