@import "../root.scss";


body {
  position: fixed;
  z-index: -10;
  left: 0;
  top: 0;
}

.song-panel-toggle {
  font-size: 48px;
  transition: all 0.2s ease-in-out;
  display: block;
  width: max-content;
  user-select: none;
  opacity: 1;

  &:hover {
    transform: translateY(-5%);
    filter: drop-shadow(3px 3px 5px white);
    cursor: pointer;
  }
  
  .song-panel-toggle-title {
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    vertical-align: 10px;
    padding: 8px;
  }
}

body.exposed-icons {
  .song-panel-toggle {
    display: none;
  }
}