/* Buttons */
.tx-btn {
  background-color: #1976D2; // Default color
  border: none;
  padding: 0.35em;
  &:hover {
    cursor: pointer;
  }
  
  // Colors
  &.tx-btn-action {
    background-color: #01861d; // Action color
  }
  
  &.tx-btn-next {
    background-color: #707070; // Next step color
  }
  
  &:focus {
    outline: none;
  }
  
  &:active {
    filter: brightness(0.8);
  }
}


/* Input fields */
.tx-form-field {
  background-color: #202020;
  color: white;
  border: 1px white solid;
  padding: 1%;

  &:is([type="text"], [type="password"]) {
    min-width: 256px;
  }
}

.tx-form-field:focus {
  outline: none;
}

.tx-whitespace-nowrap {
  white-space: nowrap;
}