/* Buttons */
.tx-btn {
  background-color: #1976D2;
  border: none;
  padding: 1%;
  &:hover {
    cursor: pointer;
  }
  
  &.tx-btn-success {
    background-color: #01861d;
  }
  
  &:focus {
    outline: none;
  }
  
  &:active {
    filter: brightness(0.8);
  }
}


/* Input fields */
.tx-form-field {
  background-color: #202020;
  color: white;
  border: 1px white solid;
  padding: 1%;
}

.tx-form-field:focus {
  outline: none;
}