$bgColor: #202124;

body {
  --bodyHeight: calc(100vh - 32px);
  position: absolute;
  top: calc(100vh - var(--bodyHeight));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100vw;
  height: var(--bodyHeight);
  padding: 0;
  background-color: $bgColor;
  color: white;
  font-size: 18px;
  button {
    font-size: 18px;
  }
}

body[fullscreen], body[miniplayer] {
  --bodyHeight: 100vh;
}

// * {
//   color: white;
// }

a {
  color: white;
}

body.inactive *.hide-on-inactive {
  opacity: 0 !important;
}

body[miniplayer] *.hide-on-inactive {
  opacity: 0 !important;
}

// *:not(
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6,
//   sup,
//   sub
// ) {
//   font-size: 18px;
// }

code {
  display: inline-block;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 4px;
  color: orange;
}

// For explanations
sup, sub {
  padding-bottom: 16px;
  transform: translateY(-1em);
  display: block;
  // color: gray;
  color: #678f6a;
  white-space: normal
}