.subtitle-container {
  z-index: 10000;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  transition: bottom 0.5s ease-in-out;
  pointer-events: none;
  &, * {
    font-size: 24px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
}


body.inactive {
  .subtitle-container {
    bottom: 10%;
  }
}

body[miniplayer] .subtitle-container {
  bottom: 25%;

  &, * {
    font-size: 16px !important;
  }
}

@if ToxenIsWeb() {
  @media screen and ((max-width: 768px)) { // Mobile view
    .subtitle-container {
      bottom: calc(var(--mobile-tab-bar-height) + 25%);
      max-width: 90vw;

      &, * {
        font-size: 18px;
      }
    }

    body.inactive {
      .subtitle-container {
        bottom: calc(var(--mobile-tab-bar-height) + 10%);
      }
    }
  }
}